#caption-component {
    width: 100%;
    margin: 10px auto;
    padding-left: 10px;
    text-align: start;
}

.caption-bar {
    margin-left: -11px;
    border: 0.5px solid #a9a9a9de;
    width: 100%;
}

.caption {
    font-size: 0.9em;
    width: 90%;
}