#image-post_component {
    background-color: #212326;
}

.image-post {
    width: 100%;
}

hr {
    margin: 0;
}

@media screen and (max-width: 600px) {
    hr {
        margin-top: -1em;
        display: none;
    }
}